section {
width: 60%;
padding: 1.5rem;
border: 2px solid #999;
margin: 2rem auto;
}

.planeta-boton{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
}

#mercurio{
    width: 30px;
    height: 100px;
}

#venus{
    padding: 2rem;
    border-radius: 2rem;
}

#tierra{
    border-style: groove;
    border-color: #7fe695;
    border-width: 2rem;
}


