section {
    width: 60%;
    padding: 1.5rem;
    border: 2px solid #82e07d;
    margin: 2rem auto;
}

.planeta-boton{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: none;
    transition-duration: 1s;
}

#mercurio{
    width: 30px;
    height: 100px;
    overflow: scroll;
}

.boton-mercurio:hover{
   transform: translateX(15px);

}

#venus{
    padding: 2rem;
    border-radius: 2rem;
}
.boton-venus:hover{
    transform: rotate(160deg);
}



#tierra{
    border-style: groove;
    border-color: #7fe695;
    border-width: 2rem;
}
.boton-tierra:hover{
    transform: scale(5);
}


#marte{
    border-width: 2rem;
    margin: 3rem;
}
.boton-marte:hover{
    transform: skewX(-60deg);
}


#jupiter{
   width: 100px;
   height: 100px;
   overflow: scroll;
}

#saturno{
    width: 30%;
    display: inline-block;
}

#urano{
    width: 40%;
    height: 100px;
    display: inline-block;
    border-width: 30px;
    box-sizing: border-box;
}

#neptuno{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    bottom: 60px;
    left: 50px;
    margin: 1rem;
}

.boton-jupiter{
   transition-property: color, transform, background-color;
   transition-duration: 3s, .1s;
   transition-timing-function: linear, steps(3, end);
}

.boton-jupiter:hover{
    transform: scale(5);
    color: #82e07d;
    background-color: #367844;
 }

.boton-saturno{
  transition-timing-function: linear, steps(3, end);
 }

 .boton-saturno:hover{
    color: #82e07d;
    background-color: #367844;
}



